/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #181818;
    color: #ebebeb;
    font-size: 16px;
    line-height: 1.6;
}

header {
    padding-top: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #bcbcbc;
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.masthead {
    background-image: url(../images/nina-rumbines-MBUO2v9lmvA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.masth1 {
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.mastp {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
}

main {
    padding: 40px 20px;
    text-align: center;
}

#controls {
    margin-bottom: 30px;
}

#controls button {
    background-color: #00b000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#controls button:hover {
    background-color: #29cc01;
    box-shadow: 0 0 1px rgba(0, 210, 63, 0.5), 0 0 20px rgba(0, 210, 53, 0.5);
    transform: scale(1.02);
}

#controls button.active {
    background-color: #f1f1f1;
    color: #00b000;
    box-shadow: 0 0 10px rgba(182, 212, 255, 0.7), 0 0 20px rgba(158, 206, 255, 0.7);
}

#dynamic-content {
    padding: 20px;
    background-color: #323232;
    color: #ebebeb;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

footer {
    background-color: #323232;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer ul li {
    margin: 0 15px;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Media queries */

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
        padding-left: 2rem;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .masth1 {
        padding: 1rem;
    }

    .mastp {
        padding: 1rem;
    }

    main {
        padding: 20px 10px;
    }

    #controls button {
        font-size: 1.4rem;
        padding: 8px 16px;
        margin: 1rem;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: 10px 0;
        font-size: 1.2rem;
        padding-left: 2rem;
    }
}
